[submodule "scripts/scripts/polywins"]
	path = scripts/scripts/polywins
	url = https://codeberg.org/kye/polywins
[submodule "scripts/polywins"]
	path = scripts/polywins
	url = https://codeberg.org/kye/polywins
