[submodule "scripts/polybar-asusctl"]
	path = scripts/polybar-asusctl
	url = https://codeberg.org/kye/polybar-asusctl
[submodule "scripts/wallpaper"]
	path = wallpaper
	url = https://codeberg.org/kye/wallpaper
