/*
taken from:
https://github.com/chriskempson/base16/blob/main/styling.md

added this as a theme helper, probs need to generate this via nix-colors depending on which scheme
is currently being used by specific system :)

may need to have in each /host/hostame/ for now this works
*/
.tokyo-night-dark {
  --base00:#1A1B26; /* Default Background */
  --base01:#16161E; /* Lighter Background (Used for status bars, line number and folding marks) */
  --base02:#2F3549; /* Selection Background */
  --base03:#444B6A; /* Comments, Invisibles, Line Highlighting */
  --base04:#787C99; /* Dark Foreground (Used for status bars) */
  --base05:#A9B1D6; /* Default Foreground, Caret, Delimiters, Operators */
  --base06:#CBCCD1; /* Light Foreground (Not often used) */
  --base07:#D5D6DB; /* Light Background (Not often used) */
  --base08:#C0CAF5; /* RED Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
  --base09:#A9B1D6; /* ORANGE Integers, Boolean, Constants, XML Attributes, Markup Link Url */
  --base0A:#0DB9D7; /* YELLOW Classes, Markup Bold, Search Text Background */
  --base0B:#9ECE6A; /* GREEN Strings, Inherited Class, Markup Code, Diff Inserted */
  --base0C:#B4F9F8; /* CYAN Support, Regular Expressions, Escape Characters, Markup Quotes */
  --base0D:#2AC3DE; /* BLUE Functions, Methods, Attribute IDs, Headings */
  --base0E:#BB9AF7; /* MAGENTA Keywords, Storage, Selector, Markup Italic, Diff Changed */
  --base0F:#F7768E; /* PURPLE? Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
}

.horizon-dark {
  --base00: #1C1E26; /* Default Background // terminal 16 black */
  --base01: #232530; /* Lighter Background (Used for status bars, line number and folding marks) */
  --base02: #2E303E; /* Selection Background */
  --base03: #6F6F70; /* Comments, Invisibles, Line Highlighting */
  --base04: #9DA0A2; /* Dark Foreground (Used for status bars) */
  --base05: #CBCED0; /* Default Foreground, Caret, Delimiters, Operators */
  --base06: #DCDFE4; /* Light Foreground (Not often used) */
  --base07: #E3E6EE; /* Light Background (Not often used) */
  --base08: #E93C58; /* RED Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
  --base09: #E58D7D; /* ORANGE Integers, Boolean, Constants, XML Attributes, Markup Link Url */
  --base0A: #EFB993; /* YELLOW Classes, Markup Bold, Search Text Background */
  --base0B: #EFAF8E; /* GREEN Strings, Inherited Class, Markup Code, Diff Inserted */
  --base0C: #24A8B4; /* CYAN Support, Regular Expressions, Escape Characters, Markup Quotes */
  --base0D: #DF5273; /* BLUE Functions, Methods, Attribute IDs, Headings */
  --base0E: #B072D1; /* MAGENTA Keywords, Storage, Selector, Markup Italic, Diff Changed */
  --base0F: #E4A382; /* PURPLE? Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
}

.Catppuccin-Latte {
  --base00: #eff1f5; /*base*/
  --base01: #e6e9ef; /*mantle*/
  --base02: #ccd0da; /*surface0*/
  --base03: #bcc0cc; /*surface1*/
  --base04: #acb0be; /*surface2*/
  --base05: #4c4f69; /*text*/
  --base06: #dc8a78; /*rosewater*/
  --base07: #7287fd; /*lavender*/
  --base08: #d20f39; /*red*/
  --base09: #fe640b; /*peach*/
  --base0A: #df8e1d; /*yellow*/
  --base0B: #40a02b; /*green*/
  --base0C: #179299; /*teal*/
  --base0D: #1e66f5; /*blue*/
  --base0E: #8839ef; /*mauve*/
  --base0F: #dd7878; /*flamingo*/
}
