.horizon-dark {
  --base00: #1C1E26; /* Default Background // terminal 16 black */
  --base01: #232530; /* Lighter Background (Used for status bars, line number and folding marks) */
  --base02: #2E303E; /* Selection Background */
  --base03: #6F6F70; /* Comments, Invisibles, Line Highlighting */
  --base04: #9DA0A2; /* Dark Foreground (Used for status bars) */
  --base05: #CBCED0; /* Default Foreground, Caret, Delimiters, Operators */
  --base06: #DCDFE4; /* Light Foreground (Not often used) */
  --base07: #E3E6EE; /* Light Background (Not often used) */
  --base08: #E93C58; /* RED Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
  --base09: #E58D7D; /* ORANGE Integers, Boolean, Constants, XML Attributes, Markup Link Url */
  --base0A: #EFB993; /* YELLOW Classes, Markup Bold, Search Text Background */
  --base0B: #EFAF8E; /* GREEN Strings, Inherited Class, Markup Code, Diff Inserted */
  --base0C: #24A8B4; /* CYAN Support, Regular Expressions, Escape Characters, Markup Quotes */
  --base0D: #DF5273; /* BLUE Functions, Methods, Attribute IDs, Headings */
  --base0E: #B072D1; /* MAGENTA Keywords, Storage, Selector, Markup Italic, Diff Changed */
  --base0F: #E4A382; /* PURPLE? Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
}

/*split out to 10% lighter / darker per colour*/

.horizon-dark-expanded {
  --base00D: #060709;
  --base00L: #323543;

  --base01D: #0e0e13;
  --base01L: #393c4e;

  --base02D: #181921;
  --base02L: #44475b;

  --base03D: #565656;
  --base03L: #888889;

  --base04D: #838789;
  --base04L: #b7b9bb;

  --base05D: #b0b5b8;
  --base05L: #e6e7e8;

  --base06D: #bfc4ce;
  --baseo6L: #f9f9fa;

  --base07D: #dddde3;
  --base07L: #ffffff;

  --base08D: #da1939;
  --base08L: #ee6a80;

  --base09D: #dd6752;
  --base09L: #eeb2a7;

  --base0aD: #e89d67;
  --base0aL: #f6d6bf;

  --base0bD: #e98e61;
  --base0bL: #f5cebb;

  --base0cD: #1c818a;
  --base0cL: #35c9d7;

  --base0dD: #d62850;
  --base0dL: #e77d96;

  --base0eD: #9a4bc4;
  --base0eL: #c598de;

  --base0fD: #db8458;
  --base0Fl: #edc2ac;

}