.colours {
--base0:#1C1E26;
--base1:#232530;
--base2:#2E303E;
--base3:#6F6F70;
--base4:#9DA0A2;
--base5:#CBCED0;
--base6:#DCDFE4;
--base7:#E3E6EE;
--base8:#E93C58;
--base9:#E58D7D;
--basea:#EFB993;
--baseb:#EFAF8E;
--basec:#24A8B4;
--based:#DF5273;
--basee:#B072D1;
--basef:#E4A382;
}