@import url("colours.css");

.scrim { background-color: rgba(0, 0, 0, 0); }

* {
  all: unset;
  font-size: 14px;
  font-family: "Product Sans", sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0; }

@keyframes gradient {
  0% { background-position: 0% 25%; }
  10% { background-position: 10% 50%; }
  20% { background-position: 20% 70%; }
  30% { background-position: 30% 85%; }
  40% { background-position: 40% 90%; }
  50% { background-position: 80% 95%; }
  60% { background-position: 100% 100%; }
  70% { background-position: 75% 70%; }
  80% { background-position: 40% 40%; }
  90% { background-position: 20% 20%; }
  100% { background-position: 10% 10%; }
}

.separator {
  min-width: 10px;
  min-height: 10px; }

.text__bold {font-weight: 600}

tooltip > * > * {
  background-color: @c0;
  color: @c5;
  padding: 10px;
  border-radius: 8px; }

window.popup > * {
  border: none;
  box-shadow: none; }

window.popup menu {
  margin: 10px;
  border-radius: 8px;
  background-color: @c0; }
  window.popup menu menuitem {
    padding: 8px 10px;
    color: @c5;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out; }
    window.popup menu menuitem:hover {
      background-color: @c4;
      color: @c0; }
    window.popup menu menuitem:first-child {
      margin-top: 0; }
    window.popup menu menuitem:last-child {
      margin-bottom: 0; }

.bar {
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  /*transition: 1s ease;*/
}

.wallpaper {
  background: linear-gradient(130deg, @cb, @cc, @cd, @ce);
  background-size: 100% 100%;
  opacity: 0.2;
  /* animation: gradient 15s ease-in-out infinite;*/
  /* both issues with framerate*/
  /* transition: 10s ease-in; */
}

/* standard hover */
trough:hover,
.sys_button:hover {
  background: @c3;
  transition: 1s ease-in-out;
}

/* standard box / backdrop / widget settings */
.workspaces,
.menu,
.battery,
.volume,
/* .bar__controlcenter_container, */
.date,
.sys_box,
.clock {
  font-weight: 600;
  color: @c5;
  background-color: @c0;
  padding: 0px 10px;
  border-radius: 8px;
  /*transition: min-width 1s ease-in-out;*/
}

/* system tray */
.sys_button {
  min-width: 30px;
  min-height: 14px;
  border-radius: 4px;
  margin: 0px 5px;
  transition: background 1s ease-in-out;
}

/* menu */
/** .menu, ._menu_event, .__menu_inner, .___l/m/r = .____menu_dot */
.menu,
.menu .__menu_inner {
  padding: 5px;
  min-width: 14px;
  min-height: 14px;
  border-radius: 8px;
  margin: 0px 0px; }
._menu_event {
  border-radius: 4px;
  transition: background 1s ease-in-out; }
/* using different durations on each element, feels less bland
TODO want to have random duration withina set range */
.___left * { animation: gradient 30s ease-in-out infinite; }
.___middle * {  animation: gradient 60s ease-in-out infinite; }
.___right * {  animation: gradient 45s ease-in-out infinite; }
.____menu_dot, .____menu_button {
  min-width: 8px;
  min-height: 8px;
  border-radius: 4px;
  margin: 0px 2px;
  background: linear-gradient(-45deg, @cb, @cc, @cd, @ce);
  background-size: 500% 500%;
  /* added transition on hover and on the element, for fading in and out */
  transition: background 1s ease-in-out; }
/* sets the dot background from gradient to default bar colour on hover*/
._menu_event:hover > .__menu_inner > * > * { background: @c0; }
._menu_event:hover {
  animation: gradient 30s ease-in-out infinite;
  background: linear-gradient(-45deg, @cb, @cc, @cd, @ce);
  background-size: 400% 400%;
  transition: background 0.5s ease-in-out; }

.workspaces,
.workspaces .workspace_box {
  margin: 0px 8px;
  min-width: 0px; }
.workspaces .indicator {
  min-width: 14px;
  min-height: 14px;
  border-radius: 4px;
  margin: 0px 8px;
  background-color: @c2;
  transition: min-width 0.25s ease-in-out, background 1s ease-in-out; }
.occupied > .indicator {
  background-color: @c4; }
.multiple > .indicator {
  background-color: @cf; }
.active > .indicator,
.multiple > .indicator,
.occupied > .indicator {
  min-width: 14px;
  min-height: 14px;
  border-radius: 4px;
  margin: 0px 8px;
  transition: min-width 0.25s ease-in-out, background 1s ease-in-out; }
.workspaces .active > .indicator:last-child,
.workspaces .active > .indicator:first-child  {
  margin: 0px 8px; }
.workspaces .active > .indicator {
  min-width: 30px;
  background: linear-gradient(-45deg, @cb, @cc, @cd, @ce);
  background-size: 400% 400%;
  animation: gradient 30s ease-in-out infinite;
  transition: min-width 0.25s ease-in-out, background 1s ease-in-out; }

trough { /* slider / progressbar background */
  min-height: 14px;
  min-width: 75px;
  margin: 0px 8px;
  border-radius: 4px;
  background-color: @c2;
  transition: min-width 1s ease-in-out, background 1s ease-in-out;}
trough highlight, /* slider highlight */
progressbar trough progress { /* slider progressbar slider */
  min-height: 14px;
  min-width: 0px;
  border-radius: 4px;
  background: linear-gradient(-45deg, @cb, @cc, @cd, @ce);
  /*background: mix(@ce, @cd, 1);*/
  background-size: 400% 400%;
  animation: gradient 30s ease-in-out infinite;
  transition: min-width 1s ease-in-out, background 1s ease-in-out;}




